$color1:#757575;
$color2:#242424;

.type-44 {
    padding-bottom: 10px;

    .content {
        font-family: rubik, sans-serif;
        font-weight: 400;
        line-height: 1.5;
        color      : $color1;

        .tittle {
            font-family: poppins;
            font-weight: 500;
            color      : $color2;
            font-weight: bolder;

        }

        .meta {
            font-weight: bolder;
        }
    }

}