$color-black:#242424;
$color1: blak;
$color-white:white;
$color-blue:#3eaafd;
.type-44 {
    margin-top: 20px;

    .tittle {
        border-bottom: 1px solid rgba(0, 0, 0, .06);
        padding      : 10px 25px;
        color        : $color-black;
        font-family  : poppins, sans-serif;
        font-size    : 16px;
    }

    .box {
        position: relative;
        padding : 25px;

        .box-content {
            position: absolute;

            .item {
                float          : left;
                margin         : 0 10px 10px 0;
                border         : 1px solid;
                border-radius  : 5px;
                padding        : 0 16px;
                line-height    : 34px;
                text-decoration: none;

                .item-text {
                    color: $color1;
                }
            }

            .item:hover {
                background: $color-blue;
                .item-text {
                    color: $color-white;
                }
            } 
           
            

        }




    }
}