.type-51 {
  margin-top: 20px; }
  .type-51 .content {
    padding: 30px 0; }
    .type-51 .content .tittle {
      font-size: 28px;
      position: relative;
      padding-bottom: 20px; }
    .type-51 .content .tittle::after {
      content: "";
      width: 50px;
      height: 2px;
      background: #3eaafd;
      left: 0;
      bottom: 0;
      z-index: 1;
      position: absolute; }
    .type-51 .content .text-body {
      font-size: 16px;
      line-height: 30px;
      margin-bottom: 15px; }
    .type-51 .content .btn-acction1 {
      margin-top: 10px;
      position: relative;
      background: #3eaafd;
      text-decoration: none;
      color: white;
      display: inline-block;
      padding: 3px 36px 3px 20px;
      line-height: 32px;
      border-radius: 4px;
      font-size: 14px;
      font-weight: 500;
      margin-right: 20px; }
      .type-51 .content .btn-acction1 i {
        position: absolute;
        right: 14px;
        top: 50%;
        transform: translateY(-50%); }
    .type-51 .content .btn-acction1:hover {
      background: #3eaafd; }
    .type-51 .content .btn-acction2 {
      margin-top: 10px;
      position: relative;
      background: #febf01;
      text-decoration: none;
      color: white;
      display: inline-block;
      padding: 3px 36px 3px 20px;
      line-height: 32px;
      border-radius: 4px;
      font-size: 14px;
      font-weight: 500;
      margin-right: 10px; }
      .type-51 .content .btn-acction2 i {
        position: absolute;
        right: 14px;
        top: 50%;
        transform: translateY(-50%); }
    .type-51 .content .btn-acction2:hover {
      background: #3eaafd; }
