.type-85 {
    margin-top: 20px;
    text-align: center;
    background: #F5F5F5;
    padding: 20px;

    .img-fluid {
        margin: 20px;
        width : auto;
    }
    .swiper-container:hover{
        .swiper-button-next
        {
            opacity: 1;
            background: white;
            &::after{
                font-size: 15px;
                color: black;
            }
        } 
        .swiper-button-prev
        {
            opacity: 1;
            background: white;
            &::after{
                font-size: 15px;
                color: black;
            }
        } 
    }
    .swiper-button-next
    {
        opacity: 0;
        padding: 0 20px;
        font-size: 10px ;
        &::after{
            font-size: 15px;
            color: white;
        }

    }
    .swiper-button-next:hover{
        opacity: 1;
        background: #3EAAFD!important;
    }
    .swiper-button-prev
    {
        opacity: 0;
        padding: 0 20px;
        font-size: 10px ;
        z-index: 9;
        &::after{
            font-size: 15px;
            color: white;
        }

    }
    .swiper-button-prev:hover{
        opacity: 1;
        background: #3EAAFD !important;
    }




}