$color-white:white;
$color-blue : #3eaafd;
$color-black: black;

.type-12 {
    margin-top: 30px;

    .a1 {
        margin-bottom: 20px;

        .posted-img {
            position: relative;

            .text-in {
                position  : absolute;
                display   : block;
                color     : $color-white;
                bottom    : 50px;
                width     : 100%;
                text-align: center;

                .text1-tittle {
                    font-weight: bold;
                    font-family: poppins;
                    line-height: 1.3;

                    a {
                        color          : $color-white;
                        text-decoration: none;

                    }

                    a:hover {
                        color: $color-blue;
                        ;
                    }
                }


                .meta {
                    color      : rgba(255, 255, 255, .6);
                    font-weight: bold;
                }
            }
        }

        .text-btn {
            position  : absolute;
            width     : 100%;
            text-align: center;
            bottom    : 0;
            left      : 0;
            right     : 0;

            .text-sport {
                display        : inline-block;
                background     : $color-white;
                padding        : 5px 50px;
                color          : $color-black;
                text-decoration: none;


            }


        }
    }


}