$color-white:white;
$color-gray:#999;
.type-35
{
    text-align: center;
    color: $color-white;
    .content
    {
        background-image: url(../images/breadcrumb.jpg);
        padding: 90px 0;
        margin-bottom: 45px;
        .tittle
        {
            font-size: 30px;
            margin-bottom: 10px;
            font-family: poppins;
            font-weight: bold;
        }
        .home
        {
            font-size: 14px;
            color: $color-white;
            text-decoration: none;

        }
        .home:hover{
            color: $color-gray;
        }
        .des
        {
            font-size: 14px;
        }
    }
}